/* 这个是全局样式表 */
html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
}

.el-breadcrumb {
    margin-bottom: 20px;
}

.el-card {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2) !important;
}

.el-table {
    margin: 20px 0;
}